.content{
    position: relative;
    width: 1580px;
    overflow: hidden;
    margin-left: 50%;
    transform: translate(-50%,0);
    display: flex;
}

.leftlist{
    width: 400px;
}

.pagelevel{
    position:absolute;
    width: 200px;
    height: 30px;
    left: 125px;
    top: 15px;
    translate: translate(0,0);
}

.pagelevel a{
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.pagelevel a:hover{
    color: #8DCC78;
}

.left ul{
    position: relative;
    width: 210px;
    height: 400px;
    overflow: hidden;
    display: inline-block;
    padding: 0px;
    list-style-type: none;
}

.left{
    position: relative;
    width: 210px;
    height: 400px;
    overflow: hidden;
    display: inline-block;
    margin-left: 100px;
    margin-top: 35px;
    padding: 0px;
    list-style-type: none;
}

.left ul li{
    height: 50px;
    position: relative;
    padding: 0px;
    width: 210px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
}

.left ul li a{
    position: relative;
    display: inline-block;
    width: 210px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: 900;
    margin: 0px;
    color: #ACB1C6;
}

.left ul li a:hover{
    color: #8DCC78;
    background-color: #ACB1C6;
}

.right{
    position: absolute;
    height: 400px;
    width: 500px;
    z-index: 99;
    display: none;
}

.left:hover+.right{
    display: inline-block;
}

.leftnav:hover{
    z-index: 99;
}

.right:hover{
    display: inline-block;
    z-index: 99;
}

.right dl{
    position: absolute;
    width: auto;
    height: 350px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    top: 50px;
    list-style-type: none;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    display: inline-block;
}

.right dl dt a{
    font-size: 14px;
    font-weight: 600;
    width: 60px;
    height: 50px;
    overflow: hidden;
    text-decoration: none;
    line-height: 50px;
    margin: 0px;
    flex-shrink: 0;
    color: #8DCC78;
}

.right dl dd a{
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #ACB1C6;
    text-align: left;
    padding: 10px;
}

.right dl dd a:hover{
    color: #8DCC78;
}

.right dt a:hover{
    color: #eb2525;
}

.filter{
    width: 250px;
    height: auto;
    overflow: hidden;
    list-style-type: none;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    overflow: hidden;
    margin-left: 80px;
}

.filters p{
    font-size: 16px;
    font-weight: 400;
    color: #777777;
    margin-left: 95px;
    margin-top: 20px;
    width: 1580px;
    /* text-align: center; */
}

.filters h1{
    font-size: 24px;
    font-weight: 900;
    color: #8DCC78;
    margin-left: 95px;
    margin-top: 20px;
    -webkit-text-stroke:0.1px #ACB1C6;
}

.filter_item{
    width: 250px;
    height: auto;
    overflow: hidden;
    list-style-type: none;
    overflow: hidden;
}

.filter_item h2{
    position: relative;
    font-size: 24px;
    font-weight: 900;
    margin-left: 15px;
    color: #000000;
}

.filter_item_content{
    width:250px;
    height:100px;
    margin-left: 5px;
}

.filter_item_content label{
    font-size: 18px;
    font-weight: 400;
    color: #777777;
    margin-bottom: 10px;
    text-align: top;
    display: inline-block;
    float: left;
    width: calc(50% - 10px);
}

.filter_item_content input[type="checkbox"]{
    margin-left: 10px;
    height: 20px;
    width: 20px;
    display: inline-block;
    float: left;
    width: calc(50% - 10px);
    padding: 10px;
}

.filter_item_content input:hover{
    cursor: pointer;
}

.adv{
    width: 350px;
    height: auto;
}

.adv img{
    width:300px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 60px;
}

.products{
    position: relative;
    height: auto;
    overflow: hidden;
    font-size: 0px;
    margin-top: 40px;
}

.products li{
    width:1200px;
}

.products a{
    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid #ACB1C6;
    margin:0px;
    width: 250px;
    height: 400px;
}

.products a img{
    width: 250px;
    height: 250px;
    margin: 0px;
}

.products a h2{
    font-size: 20px;
    font-weight: 900;
    color: #000000;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
}

.products a p{
    font-size: 16px;
    font-weight: 400;
    color: #777777;
    margin-left: 10px;
}

.products a span.price{
    font-size: 20px;
    font-weight: 900;
    color: #ff3228;
    margin-left: 15px;
}

.products a span.oldprice{
    text-decoration: line-through;
}

.products a :hover{
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination li a {
    display: block;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 0px;
  }
  
  .pagination li a:hover {
    background-color: #8DCC78;
    color: #fff;
  }
  